################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/DungeonsAndDevs/.vs/DungeonsAndDevs/FileContentIndex
/DungeonsAndDevs/.vs/DungeonsAndDevs/v17/.suo
